body {
  margin: 0;
  padding: 0;
}

html,
body,
#map {
  height: 100%;
}

.mapboxgl-canvas-container {
  cursor: crosshair !important;
}

#sat-slider {
  position: absolute;
  top: 28px;
  left: 4px;
  width: 20px;
  appearance: slider-vertical;
}

#bottom-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 24px;
  background: rgba(255, 255, 255, 0.731);
}

#features-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.731);
  overflow: auto;
  display: none;
}

#features-panel > button {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 3px 5px;
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
  font-size: 10px;
}

#features-panel > button:hover {
  color: rgb(249, 84, 24);
  border-color: rgb(212, 71, 20);
  background-color: rgba(237, 76, 18, 0.3);
}

#features-panel > button:active {
  color: rgb(78, 23, 3);
  border-color: rgb(138, 46, 12);
  background-color: rgba(237, 76, 18, 0.74);
}

#features-panel h3 {
  margin: 5px 0 0 10px;
}

#features {
  font-size: 12px;
  padding: 4px;
  overflow: auto;
}

#features summary {
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
}

#features summary > button {
  float: right;
}

.app-drag {
  position: absolute;
  top: 0;
  left: 0;
  right: 40px;
  height: 28px;
  -webkit-app-region: drag;
}
